/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #222;
  color: #222;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* OUTLINE  */
*:focus {
  outline: #1e90ff;
  outline-offset: 2px;
  outline-style: dashed;
}

/* CONTAINER  */
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT  */
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


/* GLOBAL-WRAPPER  */
.global-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}


/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 24px;
  background-image: url(../img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.hero-content {
  max-width: 285px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Bebas Neue", "Robot Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.hero-link {
  display: inline-block;
  background-color: #1e90ff;
  font-family: "Bebas Neue", "Robot Condensed", "Arial", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.4s ease;
}

.hero-link:hover {
  background-color: rgba(30, 144, 255, 0.8);
}

.hero-link:active {
  background-color: rgba(30, 144, 255, 0.6);
}

.hero-link-inner {
  display: flex;
  padding: 12px 24px;
}

.hero-link-inner::before {
  width: 20px;
  height: 19px;
  margin-right: 12px;
  background-image: url(../img/icons/icon-star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}


/* LATEST-VIDEOS  */
.latest-videos {
  width: 100%;
  max-width: 600px;
  padding: 54px;
  background-color: #fff;
}

.latest-videos-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Bebas Neue", "Open Sans Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.latest-videos-divider {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  height: 1px;
  background-color: #999;
}

/* LIST  */
.latest-videos-list {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  list-style: none;
}

.lastest-videos-item:not(:last-child) {
  margin-bottom: 10px;
}

.item-latest-videos {
  display: flex;
}

.item-latest-videos-img {
  width: 160px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}


.item-latest-videos-info {
  padding: 16px;
}

.item-latest-videos-info-heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: "Bebas Neue", "Robot Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: normal;
}

.item-latest-videos-info-heading-link {
  display: inline-block;
  color: #222;
  text-decoration: none;
  transition: color 0.5s ease;
}

.item-latest-videos-info-heading-link:hover {
  color: #1e90ff;
}

.item-latest-videos-info-heading-link:active {
  opacity: 0.6;
}

.item-latest-videos-meta {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 14px;
  line-height: normal;
}

.item-published-at {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.item-published-at::before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../img/icons/icon-time.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.item-meta-views {
  display: flex;
  align-items: center;
  color: #666;
}

.item-meta-views::before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../img/icons/icon-eye.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

/* BUTTON  */
.upload-button {
  display: block;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: rgba(30, 144, 255, 1);
  transition: all 0.5s ease;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  border: 2px solid transparent;
}

.upload-button:hover {
  border: 2px solid #1e90ff;
  background-color: #fff;
  color: #1e90ff;
}

.upload-button:active {
  opacity: 0.6;
}


/* RETINA-BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/background-img@2x.jpg);
  }
}